#theme-light-green{
    background-color: #F9F9F9 !important;
    color: #343434 !important;
}

#theme-light-green .difficulty{
    color: #343434 !important;
    background-color: #F9F9F9 !important;
    border-color: #343434 !important;
}

#theme-light-green .difficulty:hover{
    background-color: #343434 !important;
    color: #F9F9F9 !important;
}

#theme-light-green #wringing{
    background-color: #F9F9F9 !important;
    color: #343434 !important;
}

#theme-light-green #wringing:hover{
    color: #79BF6A !important;
}

#theme-light-green .opened {
    background-color: #F9F9F9 !important;
}

#theme-light-green .opened:before,
#theme-light-green .opened:after,
#theme-light-green .opened span:before,
#theme-light-green .opened span:after {
    border-color: #DCDCDC !important;
}

#theme-light-green .unknown {
    background-color: #79BF6A !important;
}

#theme-light-green .bomb,
#theme-light-green .flag  {
    background-color: #F9F9F9 !important;
}

#theme-light-green .bomb {
    background-color: #D6D86E !important;
}

#theme-light-green .flag {
    background-color: #C6C6C6 !important;
}

#theme-light-green a{
    color: #343434 !important;
}