#theme-light-red{
    background-color: #F9F9F9 !important;
    color: #343434 !important;
}

#theme-light-red .difficulty{
    color: #343434 !important;
    background-color: #F9F9F9 !important;
    border-color: #343434 !important;
}

#theme-light-red .difficulty:hover{
    background-color: #343434 !important;
    color: #F9F9F9 !important;
}

#theme-light-red #wringing{
    background-color: #F9F9F9 !important;
    color: #343434 !important;
}

#theme-light-red #wringing:hover{
    color: #BF6A6A !important;
}

#theme-light-red .opened {
    background-color: #F9F9F9 !important;
}

#theme-light-red .opened:before,
#theme-light-red .opened:after,
#theme-light-red .opened span:before,
#theme-light-red .opened span:after {
    border-color: #DCDCDC !important;
}

#theme-light-red .unknown {
    background-color: #BF6A6A !important;
}

#theme-light-red .bomb,
#theme-light-red .flag  {
    background-color: #F9F9F9 !important;
}

#theme-light-red .bomb {
    background-color: #6E80D8 !important;
}

#theme-light-red .flag {
    background-color: #C6C6C6 !important;
}

#theme-light-red a{
    color: #343434 !important;
}