#theme-light-yellow{
    background-color: #F9F9F9 !important;
    color: #343434 !important;
}

#theme-light-yellow .difficulty{
    color: #343434 !important;
    background-color: #F9F9F9 !important;
    border-color: #343434 !important;
}

#theme-light-yellow .difficulty:hover{
    background-color: #343434 !important;
    color: #F9F9F9 !important;
}

#theme-light-yellow #wringing{
    background-color: #F9F9F9 !important;
    color: #343434 !important;
}

#theme-light-yellow #wringing:hover{
    color: #B9BF6A !important;
}

#theme-light-yellow .opened {
    background-color: #F9F9F9 !important;
}

#theme-light-yellow .opened:before,
#theme-light-yellow .opened:after,
#theme-light-yellow .opened span:before,
#theme-light-yellow .opened span:after {
    border-color: #DCDCDC !important;
}

#theme-light-yellow .unknown {
    background-color: #B9BF6A !important;
}

#theme-light-yellow .bomb,
#theme-light-yellow .flag  {
    background-color: #F9F9F9 !important;
}

#theme-light-yellow .bomb {
    background-color: #7CD86E !important;
}

#theme-light-yellow .flag {
    background-color: #C6C6C6 !important;
}

#theme-light-yellow a{
    color: #343434 !important;
}