#theme-dark-blue{
    background-color: #36363C !important;
    color: #F9F9F9 !important;
}

#theme-dark-blue .difficulty{
    color: #F9F9F9 !important;
    background-color: #36363C !important;
    border-color: #F9F9F9 !important;
}

#theme-dark-blue .difficulty:hover{
    background-color: #F9F9F9 !important;
    color: #36363C !important;
}

#theme-dark-blue #wringing, #theme-dark-blue #reset{
    background-color: #36363C !important;
    color: #F9F9F9 !important;
}

#theme-dark-blue #wringing:hover, #theme-dark-blue #reset:hover{
    color: #9D9CC9 !important;
}

#theme-dark-blue .opened {
    background-color: #36363C !important;
}

#theme-dark-blue .opened:before,
#theme-dark-blue .opened:after,
#theme-dark-blue .opened span:before,
#theme-dark-blue .opened span:after {
    border-color: #4B4B56 !important;
}

#theme-dark-blue .unknown {
    background-color: #9D9CC9 !important;
}

#theme-dark-blue .bomb,
#theme-dark-blue .flag  {
    background-color: #F9F9F9 !important;
}

#theme-dark-blue .bomb {
    background-color: #CFCF7F !important;
}

#theme-dark-blue .flag {
    background-color: #BCBCCB !important;
}

#theme-dark-blue a{
    color: #F9F9F9 !important;
}