#theme-dark-yellow{
    background-color: #3C3C36 !important;
    color: #F9F9F9 !important;
}

#theme-dark-yellow .difficulty{
    color: #F9F9F9 !important;
    background-color: #3C3C36 !important;
    border-color: #F9F9F9 !important;
}

#theme-dark-yellow .difficulty:hover{
    background-color: #F9F9F9 !important;
    color: #3C3C36 !important;
}

#theme-dark-yellow #wringing{
    background-color: #3C3C36 !important;
    color: #F9F9F9 !important;
}

#theme-dark-yellow #wringing:hover{
    color: #C8C99C !important;
}

#theme-dark-yellow .opened {
    background-color: #3C3C36 !important;
}

#theme-dark-yellow .opened:before,
#theme-dark-yellow .opened:after,
#theme-dark-yellow .opened span:before,
#theme-dark-yellow .opened span:after {
    border-color: #56564B !important;
}

#theme-dark-yellow .unknown {
    background-color: #C8C99C !important;
}

#theme-dark-yellow .bomb, #theme-dark-yellow .flag  {
    background-color: #F9F9F9 !important;
}

#theme-dark-yellow .bomb {
    background-color: #7F86CF !important;
}

#theme-dark-yellow .flag {
    background-color: #CBCBBC !important;
}

#theme-dark-yellow a{
    color: #F9F9F9 !important;
}