#theme-dark-green{
    background-color: #363C36 !important;
    color: #F9F9F9 !important;
}

#theme-dark-green .difficulty{
    color: #F9F9F9 !important;
    background-color: #363C36 !important;
    border-color: #F9F9F9 !important;
}

#theme-dark-green .difficulty:hover{
    background-color: #F9F9F9 !important;
    color: #363C36 !important;
}

#theme-dark-green #wringing{
    background-color: #363C36 !important;
    color: #F9F9F9 !important;
}

#theme-dark-green #wringing:hover{
    color: #9DC99C !important;
}

#theme-dark-green .opened {
    background-color: #363C36 !important;
}

#theme-dark-green .opened:before,
#theme-dark-green .opened:after,
#theme-dark-green .opened span:before,
#theme-dark-green .opened span:after {
    border-color: #4C564B !important;
}

#theme-dark-green .unknown {
    background-color: #9DC99C !important;
}

#theme-dark-green .bomb,
#theme-dark-green .flag  {
    background-color: #F9F9F9 !important;
}

#theme-dark-green .bomb {
    background-color: #CF7F7F !important;
}

#theme-dark-green .flag {
    background-color: #BDCBBC !important;
}

#theme-dark-green a{
    color: #F9F9F9 !important;
}