#theme-dark-red{
    background-color: #3C3636 !important;
    color: #F9F9F9 !important;
}

#theme-dark-red .difficulty{
    color: #F9F9F9 !important;
    background-color: #3C3636 !important;
    border-color: #F9F9F9 !important;
}

#theme-dark-red .difficulty:hover{
    background-color: #F9F9F9 !important;
    color: #3C3636 !important;
}

#theme-dark-red #wringing{
    background-color: #3C3636 !important;
    color: #F9F9F9 !important;
}

#theme-dark-red #wringing:hover {
    color: #C99C9C !important;
}

#theme-dark-red .opened {
    background-color: #3C3636 !important;
}

#theme-dark-red .opened:before,
#theme-dark-red .opened:after,
#theme-dark-red .opened span:before,
#theme-dark-red .opened span:after {
    border-color: #564B4B;
}

#theme-dark-red .unknown {
    background-color: #C99C9C !important;
}

#theme-dark-red .bomb,
#theme-dark-red .flag  {
    background-color: #F9F9F9 !important;
}

#theme-dark-red .bomb {
    background-color: #B1CF7F !important;
}

#theme-dark-red .flag {
    background-color: #CBBCBC !important;
}

#theme-dark-red a{
    color: #F9F9F9 !important;
}